
<p>Здравствуйте.</p>

<p>Вы указали этот адрес электронной почты для участия в тайном электронном голосовании. После начала голосования на этот адрес придет письмо с памяткой для голосования следующего содержания:</p>

{% include "sms_voting/memo.html" with yes_word="ПЕРВОЕ_СЛОВО" no_word="ВТОРОЕ_СЛОВО" voting_number="+7-9XX-XXX-XX-XX" %}

<p>Если памятка не пришла, проверьте папку Спам, затем сообщите ученому секретарю.</p>
<p>Пожалуйста, выполните предложенные действия в отведенное для голосования время.</p>
