
<p>Для участия в тайном электронном голосовании:</p>

<ol>
  <li>Если хотите проголосовать <b>ЗА</b>: отправьте SMS с ключевым словом <b>{{ yes_word }}</b> на номер <b>{{ voting_number }}</b></li>
  <li>Если хотите проголосовать <b>ПРОТИВ</b>: отправьте SMS с ключевым словом <b>{{ no_word }}</b> на номер <b>{{ voting_number }}</b></li>
<li>Ожидайте SMS от SMSC.RU с текстом "Спасибо за участие в голосовании БИН РАН!"</li>
<li>Если SMS не пришло в течении 2 минут, проверьте, правильно ли указан номер получателя и отправьте SMS снова.</li>
<li>Если после второго SMS подтверждения не пришло, сообщите ученому секретарю.</li>
</ol>

<p>Стоимость SMS - 3.5 рубля. Первое сообщение, полученное сервисом, будет считаться вашим голосом.</p>
