{% extends "sms_voting/print.html" %}

{% block content %}
<h2>Протокол №___</h2>
<h2>
  о результатах тайного голосования по присуждению ученой степени кандидата биологических наук с
  использованием информационно-коммуникационных технологий при проведении заседания диссертационного
  совета 24.1.002.02 в удаленном интерактивном режиме от {{ poll_date | date:"d.m.Y" }}
</h2>

<p>
Тайное голосование с использованием информационно-коммуникационных технологий проводилось по
вопросу присуждения <b>{{ person }}</b> ученой степени кандидата биологических наук.
</p>

<p>
Состав диссертационного совета утвержден в количестве {{ jury_full_count }} человек на период
действия Номенклатуры научных специальностей, по которым присуждаются ученые степени. В состав
диссертационного совета дополнительно введены {{ jury_add_count }} человек. Присутствовало на
заседании {{ jury_sum_count }} членов диссертационного совета (очно {{ jury_face_count }},
дистанционно {{ jury_remote_count }}), в том числе докторов наук по профилю рассматриваемой
диссертации {{ jury_doctor_count }}.
</p>

<p>
Результаты тайного голосования с использованием информационно-коммуникационных технологий по
вопросу о присуждении <b>{{ person }}</b> ученой степени кандидата биологических наук по специальности
1.5.15. Экология
</p>

<p>ЗА {{ yes_votes }}</p>
<p>ПРОТИВ {{ no_votes }}</p>

<p><b>Электронное голосование проводилось в ___ час. ___ мин.</b></p>

<p>
По причине технических неполадок во время проведения электронного голосования по присуждению ученой
степени, не позволивших обеспечить принятие диссертационным советом решения в соответствии с
требованиями Положения о совете по защите диссертаций на соискание ученой степени кандидата наук,
на соискание ученой степени доктора наук, было проведено повторное электронное голосование после
устранения технических неполадок.
</p>

<p>
<b>Результаты повторного тайного голосования</b> с использованием информационно-коммуникационных
технологий по вопросу о присуждении {{ person }} ученой степени кандидата биологических наук по
специальности 1.5.15. Экология
</p>

<p>ЗА ______</p>
<p>ПРОТИВ ______</p>

<p>Не участвующие в голосовании ______</p>
<p>
(в соответствии с п. 51(2) Положения о совете по защите диссертаций на соискание ученой степени
кандидата наук, на соискание ученой степени доктора наук).
</p>

<p><b>Повторное электронное голосование проводилось в ___ час. ___ мин.</b></p>


<div class="line">
  <p style="display:inline-block">Председатель <br> диссертационного совета 24.1.002.02</p>
<p class="right">________________/<span class="w3cm"></span>/</p>
</div>

<div class="line">
  <p style="display:inline-block">Ученый секретарь <br> диссертационного совета 24.1.002.02</p>
<p class="right">________________/<span class="w3cm"></span>/</p>
</div>
{% endblock %}
